/* src/app/components/edit-agent/edit-agent.component.scss */

.mat-card {
    &.daxa-card {
        &.edit-agent-card {
            .mat-card-content {
                .full-width {
                    width: 100%;
                }

                .actions {
                    display: flex;
                    justify-content: flex-end;
                    margin-top: 20px;

                    button {
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.error-message {
    color: red;
    text-align: center;
    margin: 20px 0;
    font-weight: bold;
}
